<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.dao.bigpicMapper" >
  <resultMap id="BaseResultMap" type="com.xzy.model.bigpic" >
    <id column="bigpic_id" property="bigpicId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="bigpic" property="bigpic" jdbcType="CHAR" />
  </resultMap>
 <select id="lunbotu" resultMap="BaseResultMap">
   select * from bigpic
 </select>
</mapper>