<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.dao.MyPageSetMapper">
    <resultMap id="UserPage" type="com.xzy.model.User">
        <id column="user_ID" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="DATE" jdbcType="DATE" property="date" />
        <result column="user_pic" jdbcType="VARCHAR" property="userPic" />
        <result column="user_real_name" jdbcType="VARCHAR" property="userRealName" />
        <result column="user_birth" jdbcType="TIMESTAMP" property="userBirth" />
        <result column="user_sex" jdbcType="CHAR" property="userSex" />
    </resultMap>

    <!-- 查询用户信息-->
    <select id="UserInfo" resultMap="UserPage" parameterType="com.xzy.model.User">
        select uesr.user_name,uesr.user_pic,uesr.email from uesr where user_ID = #{userId}
    </select>

    <!--修改用户信息-->
    <update id="SetUser" parameterType="map">
        update uesr
        <set>
        <if test="userName != null and userName !='' ">
            user_name=#{userName},
        </if>
        <if test="email != null and email !='' ">
            email=#{email},
        </if>
        <if test="userPic!=null and userPic !='' ">
            user_pic=#{userPic},
        </if>
        </set>
        where user_ID = #{userId}
    </update>

    <!--查询原密码-->
    <select id="CheckPwd" resultMap="UserPage" parameterType="string">
        select * from uesr where user_pwd=#{userPwd}
    </select>

    <!--修改新密码-->
    <update id="setPwd" parameterType="map">
        update uesr set user_pwd=#{userPwd} where user_ID=#{userId}
    </update>

</mapper>